
code {
	overflow: auto;
	border-radius: 5px;
}

blockquote {
	font-style: italic;
	font-size: 1.4em;
	font-family: 'PT Serif';
	color: #8B8B8B;
	
}

hr {
	border: 1px dotted #DDD;
	color: #EEE;
	width: 100%;
}

blockquote p {
	border-left: 4px solid #DDD;
	padding-left: 10px;
}

img {
	float: left;
    border: 0.2em solid #FAFAFA;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

p > img {
	border: 0.5em solid #FAFAFA;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    margin-right: 1em;
    max-width: 640px;
}

.imgtext {
	font-size: 0.8em;
	color: #8B8B8B;
	text-shadow: 0px 1px #FFF;
	padding-left: 100px;
	padding-bottom: 30px;
	font-family: 'PT Sans';
}

.main {
	position: relative;
	background-color: #EEE;
	min-height: 532px;
}

.content {
	float: left;
	width: 697px;
	background-color: white;
	background-image: url('/img/noise.png');
	padding-bottom: 1.5em;
	min-height: 502px;
}

.sidebar {
	background-color: #EEE;
	display: block;
	float: left;
	width: 300px;
	padding: 20px;
	background-image: url('/img/noise.png');
}

html {
	margin: 0;
	background-color: #252525;
}

body {
	margin: 0 auto;
	max-width: 1037px;
	color: #333;
	background-color: white;
	font-size: 1.2em;
	font-family: 'PT Serif';
}

a {
	color: #4B4B4B;
}

a:link {color: #68c3d6; text-decoration: none;}      /* unvisited link */
a:visited {color: #68c3d6; text-decoration: none;}  /* visited link */
a:hover {color:#78E3F6;text-decoration:none;}  /* mouse over link */
a:active {color: #68c3d6; text-decoration:none;}  /* selected link */

h2 {
	text-transform: capitalize;
	margin: 20px 0 0 0;
	font-size: 1em;
	color: #4B4B4B;
}

h2.bigger {
	font-size: 2.4em;
}

header {
	margin-bottom: 0.5em;
}

section {
	line-height: 1.6em;
}

section > h2 {
	border-top: 1px dotted #CCC;
	padding-top: 20px;
}

.posttimeBig {
	font-size: 1.1em;
	color: #AAA;
	text-transform: uppercase;
	font-family: 'PT Sans';
	padding-top: 20px;
}

.header {
	background: url("../img/banner.jpg") repeat scroll 0 0 #262C33;
	width: 1037px;
	height: 360px;
}

.header-inner {
	padding: 20px;
	color: white;
	position: relative;
}

.big {
	font-size: 3em;
}

h2 {
	font-size: 1.2em;
}

.articles {
	padding: 0px 20px 20px 20px;
	vertical-align: top;
}

.post, .back {
	font-size: 0.9em;
}

.mylinks {
	text-align: left;
}

.mylinks :hover {
	opacity: 0.8;
}

.mylinks a {
	font-size: 0.8em;
	color: #8B8B8B;
	text-shadow: 0px 1px #FFF;
}

.footer {
	text-align: center;
	margin-top: 10px;
	padding: 4px 0 4px 0;
	font-size: 0.8em;
	font-family: "PT Sans";
	color: #aaa;
}

.posttime {
	margin-top: 20px;
  	font-size: 0.8em;
}

.twitter-timeline {
	margin-top: 10px;
}

.mylinks a:hover {text-decoration:none;}

@media all and (max-width: 799px) {

	.header {
		background-position: center;
	}

	.main, .content, .sidebar, .imgtext, .footer {
		float: left;
		max-width: 100%;
		width: 100%;
	}

	.sidebar img {
		float: left;
		margin: 15px;
	}

	.imgtext {
		padding: 0;
		margin: 0 15px 15px 15px;
		width: 80%;
		font-size: 0.8em;
	}

	.sidebar {
		padding: 0px;
		width: 100%;
	}

	.header {
		max-width: 100%;
		width: 100%;
		float: left;
	}

	.mylinks {
		float: left;
		margin: 20px 20px 20px 20px;
		border: none;
		font-size: 1.5em;
		width: 100%;
	}

	.twitter-timeline {
		float:left;
		width: 100%;
	}
}