// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body > header { background: #262c33 url("/images/banner.jpg"); height: 260px;}
body > header h2 {color: white; text-shadow: 1px 1px #666}
body > header h1 {color: white; text-shadow: 1px 1px #666}
